* {
    padding: 0;
    margin: 0;
    }    
img {
    width: 100%;
}

    .container {
    max-width: 1200px;
    margin: auto;

    }
    nav {
    
    display: flex;
    justify-content: space-between;

    padding: 12px 0;
    }

    ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
    }

    ul li a {
        font-family: "Open Sans", sans-serif;
        text-decoration: none
    }

    .logo {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    .logo_k {
        font-family: 'Times New Roman', Times, serif;
        color: #fd6e0a;
    }
    /* common style */
    .common_button {
        background-color: #fd6e0a;
        padding: 6px 15px;
        border-radius: 12px;
        font-weight: bold;
        font-size: 22px;
        color: aliceblue;
        border: none;
        cursor: pointer;       
    }

    .common_button_nobg {
        background-color: white;
        padding: 6px 15px;
        border-radius: 12px;
        font-weight: bold;
        font-size: 22px;
        color: #fd6e0a;
        border: 1px solid;
        cursor: pointer;           
    }
    .hero_parent_root {
        background-color: #ffe8dd;
    }
    .hero_parent {
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .hero_left_p1 {
        font-weight: 600;
        font-size: 20px;
    }

        .hero_left h2{
        font: bold;
        font-size: 45px;
        margin: 8px;
    }

    .hero_left_button_parent {
        margin-top: 8px;
    }
    /* About Section start */
    .about_me_info_parent {
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    .about_parent {
        margin: 70px auto;
        background: #ffe8dd;
        padding: 70px;
        text-align: center;
    }

    .about_parent p {
        margin: 20px 0px;
    }

    .about_me_info_parent .box {
        background-color: white;
        padding: 25px;
        border-radius: 100px;
    }